


/*titulo*/
.title {
font-size: 65px;
color: rgb(214, 117, 117);
/* border: 5px black double;
 */

border-style:double ;
border-color: black;
border-radius: 15px;
border-width: 5px;

/*dotted, dashed, solid, double, groove, 
ridge, inset, outset, none, hidden*/

}

/*descripcion del grupo*/
.intro{color: grey;}

/*listado de nombre*/
div h3 {color: rgb(215, 73, 97);}

/*nombre de integrantes*/
h2{
    font-size: 24px;
    color: black
}

/*descripcion individual*/
.texto_info{
    color: black
}

/* m/v */
h3{color: rgb(192, 60, 82);}
h1{color:rgb(205, 116, 130);
border: 5px black inset;
border-radius: 10px;
}

.nombres{
border-style:ridge ;
border-color: black;
/*border-radius: 15px;*/
border-width: 3px;
}
