
body{
  
    background-image: url("Fotos/foto3.jpg");
    background-size: cover;
    image-rendering: auto;
    background-repeat: repeat-y;
   
}

/*titulo*/
#title{ 
font-size: 65px;
color: rgb(230, 124, 142);

/*fondo del borde*/
background-color: black;

/*bordes*/
border-style:double ;
border-color: black;
border-radius: 15px;
border-width: 5px;


/* esto sirve para hacer menus

position: fixed;
top: 1px;
*/


/*centrar texto y borde*/
display:table;
margin: 0% auto;
text-align: center; 
padding: 10px 30px 10px 30px /*mover los bordes*/

/*dotted, dashed, solid, double, groove, 
ridge, inset, outset, none, hidden*/

}

/*descripcion del grupo*/
.intro{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: grey;}

/*listado de nombre*/
div h3 {
    padding: 0;
    margin: 0;
    color: rgb(215, 73, 97);
    text-decoration: none;
}

/*nombre de integrantes*/
h2{
    font-size: 24px;
    color: black;
    text-decoration: underline;
}

/*descripcion individual*/
.texto_info{
    font-family:'Times New Roman', Times, serif;
    color: black
}

/* m/v */
h3{color: rgb(192, 60, 82);
text-decoration: underline;
}

h1{color:rgb(0, 0, 0);
border: 5px black inset;
border-radius: 10px;
background-color: pink;
}


.bloque-para-no-solapar {
  position: relative; /* marco los limites del sticky del .nombre */
}

.nombres{
color:black;
font-size: 34px;
text-align: center;

text-shadow: 5px 5px 4px rgb(255, 0, 0);

border-style:ridge ;
border-color: black;
border-radius: 15px;
border-width: 3px;

background-color: pink;
text-decoration: underline none;

/*Nombres flotantes*/
position: sticky;
top: 0px;
z-index: 10;

}

.nombres-mv{
color:black;
font-size: 34px;
text-align: center;

text-shadow: 5px 5px 4px rgb(255, 0, 0);

border-style:ridge ;
border-color: black;
border-radius: 15px;
border-width: 3px;

background-color: pink;
text-decoration: underline none;

}


/*Banner*/
.Jennie{
    font-size: 65px;
    color: white;
    background-color: pink;
    background-image: url("Fotos/Jennie.jpeg");
    background-size: contain;
    height: 100px;
    border-radius: 30px;
    
    padding: 10px;
    margin: 18px;
    
}

.Jisso{
    font-size: 65px;
    color: white;
    background-color: pink;
    background-image: url("Fotos/Jisso.jpeg");
    background-size: contain;
    height: 100px;
    border-radius: 30px;

    padding: 10px;
    margin: 18px;
}
.Lisa{
    font-size: 65px;
    color: white;
    background-color: pink;
    background-image: url("Fotos/Lisa.jpeg");
    background-size: contain;
    height: 100px;
    border-radius: 30px;

    padding: 10px;
    margin: 18px;
}
.Rose{
    font-size: 65px;
    color: white;
    background-color: pink;
    background-image: url("Fotos/Rose.jpeg");
    background-size: contain;
    height: 100px;
    border-radius: 30px;

    padding: 10px;
    margin: 18px;
}


/*Fotos*/

.Fotos{
    text-align: center;
}

div img{
  width: 200px;    
  height: 200px;   
  object-fit: cover; 
  margin: 5px; 
  
  border: 7px;
  border-style: double;   
  text-align: center;
  
}


/*videos*/
div iframe{

 width: 440px;    
 height: 320px;   
 object-fit: cover;
 margin: 3px;

 border:2px;
 border-radius: 10px;
 border-style: dashed;

}

/*Links*/
a:link{
    border: 1px;
    border-radius: 20px;
    border-style: solid;
    font-size: 30px;
    text-decoration: none;
    cursor:pointer;
    margin: 10px;

    background-size: contain;
    image-rendering: auto;
    background-repeat: repeat-y;
    padding: 10px;
    
}

.todo{
    max-width: 1000px;
    margin: 0 auto;
}

table {

  border: 5px;
  margin: 0 auto;
  text-align: center; 
  padding: 10px 30px 10px 30px ;
  
  
}

table td:hover{
    background-color: rgb(234, 126, 126);
}

.album{
    font-size: 19px;
    background-color: pink;
    margin: 30px;
}

div button{
    font-size: 20px;
    margin: 5px;
    padding: 10px;
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(224, 113, 113);
    cursor: pointer;
    
    
    background-image: url("Fotos/foto3.jpg") ;
    image-rendering: auto;
    background-repeat: repeat-y;
    background-size: cover;
}

.Para_completar {
    text-align: center;
}