
body{
    background-color: pink;
}

/*titulo*/
#title{ 
font-size: 65px;
color: rgb(230, 124, 142);

/*fondo del borde*/
background-color: black;

/*bordes*/
border-style:double ;
border-color: black;
border-radius: 15px;
border-width: 5px;

text-align: center; /*centrar texto*/

/*dotted, dashed, solid, double, groove, 
ridge, inset, outset, none, hidden*/

}

/*descripcion del grupo*/
.intro{color: grey;}

/*listado de nombre*/
div h3 {color: rgb(215, 73, 97);
text-decoration: none;}

/*nombre de integrantes*/
h2{
    font-size: 24px;
    color: black;
    text-decoration: underline;
}

/*descripcion individual*/
.texto_info{
    color: black
}

/* m/v */
h3{color: rgb(192, 60, 82);
text-decoration: underline;
}

h1{color:rgb(0, 0, 0);
border: 5px black inset;
border-radius: 10px;
background-color: pink;
}

.nombres{
color:black;
font-size: 23px;

border-style:ridge ;
border-color: black;
/*border-radius: 15px;*/
border-width: 3px;

background-color: pink;
text-decoration: underline none;
}


/*Nombre con fondo de portada*/
.Jennie{
    font-size: 65px;
    color: white;
    background-color: pink;
    background-image: url("Fotos/Jennie.jpeg");
    background-size: contain;
    height: 100px;
}
.Jisso{
    font-size: 65px;
    color: white;
    background-color: pink;
    background-image: url("Fotos/Jisso.jpeg");
    background-size: contain;
    height: 100px;
}
.Lisa{
    font-size: 65px;
    color: white;
    background-color: pink;
    background-image: url("Fotos/Lisa.jpeg");
    background-size: contain;
    height: 100px;
}
.Rose{
    font-size: 65px;
    color: white;
    background-color: pink;
    background-image: url("Fotos/Rose.jpeg");
    background-size: contain;
    height: 100px;
}


/*Fotos*/
div img{
  width: 250px;    
  height: 250px;   
  object-fit: cover; 
  margin: 5px; 
  
  border: 7px;
  border-style: double;   
  
}